[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CorrBin"]
	path = CorrBin
	url = https://github.com/cran/CorrBin
[submodule "multiCA"]
	path = multiCA
	url = https://github.com/anikoszabo/multica
[submodule "Oncotree"]
	path = Oncotree
	url = https://github.com/cran/Oncotree
